<ion-header>
  <ion-navbar color="primary">
    <ion-title color="light">
      u-beer ou beer-hub
    </ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-searchbar
      [(ngModel)]="beer.name"
      (ionInput)="onInput($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div text-center *ngIf="loading; else barCards">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <ng-template #barCards>
    <ion-card *ngFor="let bar of bars">
      <ion-item>
        <ion-icon item-left name="beer" class="primary"></ion-icon>
        <h1>{{ bar.name }}</h1>
        <h2>{{ bar.type }}</h2>
        <h2 item-right>{{ bar.distance | distance }}</h2>
        <h3 *ngFor="let beer of bar.beers">
          {{ beer.name }}
        </h3>
      </ion-item>
    </ion-card>
  </ng-template>

</ion-content>
