// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// $colors: (
//   primary:    #F9ED69,
//   secondary:  #F08A5D,
//   danger:     #B83B5E,
//   light:      #FFF,
//   dark:       #6A2C70
// );
// $colors: (
//   primary:    #E6AF2E,
//   secondary:  #F5D061,
//   danger:     #EE7738,
//   light:      #ECECEC,
//   dark:       #282F44
// );
// $colors: (
//   primary:    #FFBC65,
//   secondary:  #AC4C5E,
//   danger:     #AC4C5E,
//   light:      #EEEEEE,
//   dark:       #5C476F
// );
$colors: (
  primary:    #F59D2A,
  secondary:     #EE7738,
  light:      #FFF,
  dark-lighter:  #34495D,
  dark:       #2C3D4F
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
